<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/board/list.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
</head>
<body>
<!-- 헤더 -->
<header th:replace="fragment/header :: header"></header>

<!-- 보드 -->
<div class="search-and-write-box">
  <select class="search-select">
    <option value="userId">아이디로 검색</option>
    <option value="district">지역으로 검색</option>
    <option value="title">제목으로 검색</option>
  </select>

  <div class="search-box">
    <input type="text" class="search-txt" placeholder="Search">
    <button type="button" class="search-button"></button>
  </div>

  <div class="write-btn-wrap">
    <!-- 글쓰기 페이지 이동 처리 -->
    <a th:href="@{/board/write}" class="write-btn">글쓰기</a>
  </div>
</div>
<main class="board">
  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="board : ${boardList}">
<!--     이미지 넣고싶으면
      <div th:if="${board.fileName == null}" class="board-item-image" style="background-image: url(https://via.placeholder.com/300x200)"></div>
      <div th:unless="${board.fileName == null}" class="board-item-image" th:style="${'background-image: url(/upload/' + board.fileUploadPath + '/th_' + board.fileUuid + '_' + board.fileName + ')'}"></div>-->
      <td><span class="board-item-number" th:text="${board.boardNumber}"></span></td>
      <td><a th:href="@{/board/view(boardNumber=${board.boardNumber})}">
        <span class="board-item-title" th:text="${board.boardTitle}"></span>
      </a></td>
      <td><span class="board-item-author" th:text="${board.userId}"></span></td>
      <td><span class="board-item-Date" th:text="${board.boardRegisterDate}"></span></td>
    </tr>
    </tbody>
  </table>
  <div class="page-container">
    <ul class="page-box">
      <a th:href="@{/board/list(page=${pageInfo.startPage - 1})}" class="page-a" th:if="${pageInfo.prev}">
        <li class="page-num prev">&lt</li>
      </a>

      <!--
            페이징 처리는 시작번호~끝번호 까지 반복을 돌려야 하므로 빠른 for문으로는 처리가 불가능하다. (시작과 끝이 정해져있는 경우)
            그렇기 때문에 타임리프에서 제공해주는 객체를 사용하여 처리해준다. #을 붙이면 타임리프에서 제공하는 객체를 사용한다는 의미이다.
            numbers객체의 sequence(시작 값, 끝 값)라는 메소드를 사용할 것이다. 1, 5 -> 1, 2, 3, 4, 5
      -->
      <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
        <a th:href="@{/board/list(page=${i})}" class="page-a">
          <li class="page-num active" th:text="${i}" th:if="${i == pageInfo.criteria.page}"></li>
          <li class="page-num" th:text="${i}" th:unless="${i == pageInfo.criteria.page}"></li>
        </a>
      </th:block>

      <a th:href="@{/board/list(page=${pageInfo.endPage + 1})}" class="page-a" th:if="${pageInfo.next}">
        <li class="page-num next">&gt</li>
      </a>
    </ul>
  </div>
  <!-- /페이징 처리 -->
  <!-- 플래쉬 영역의 데이터는 그냥 key로 가져오면 되고
      쿼리스트링에 저장한 데이터는 param.boardNumber 를 사용하여 가져온다.-->
  <input type="hidden" class="board-num" th:value="${boardNumber}">

</main>
</body>
</html>