<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.helpon.mapper.HelperMapper">

   <insert id="insert">
       <selectKey keyProperty="helperNumber" order="BEFORE" resultType="long">
           SELECT SEQ_helper.NEXTVAL FROM DUAL
       </selectKey>
       insert into TBL_HELPER (HELPER_NUMBER, HELPER_BIRTH, HELPER_GENDER, ISCALL, INTRODUCTION)
       values (#{helperNumber},#{helperBirth},#{helperGender},#{isCall},#{introduction})
    </insert>
</mapper>