<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.helpon.mapper.TimeMapper">
    <select id="getTime" resultType="timeDto">
        select * from tbl_time
    </select>
</mapper>